services:
  web:
    build: .
    container_name: shoplist_web
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/app/static
    env_file:
      - .env
    depends_on:
      - db
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000

  db:
    image: postgres:16
    container_name: shoplist_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  static_volume: