{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShopList</title>
    <link rel="stylesheet" href="{% static 'shoplist/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sl-header">
        {% if request.user.is_authenticated %}
            <div class="sl-paragraph">
                Привет, {{ request.user.nick_name }} |
                <form class="sl-form" method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="sl-button" type="submit">Выйти</button>
                </form>
            </div>
        {% else %}
            <div class="sl-paragraph">
                <form class="sl-form" method="post" action="{% url 'login' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="sl-button" type="submit">Войти</button>
                </form>
            </div>
        {% endif %}
    </div>
    
    <hr>
    
    <div class='sl-main'>
        {% block content %}
        {% endblock %}
    </div>

    <script>
        document.body.addEventListener('htmx:configRequest', function (event) {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

</body>
</html>
