{% extends "shoplist/base.html" %}

{% block content %}

<div class="space-header">
    <button onclick="window.location.href='{% url 'home' %}'">
        ← Другое пространство
    </button>
    <div>
        {% include "shoplist/partials/delete_space_button.html" with in_list=False %}
    </div>
</div>

<div class="space-page">
    <h1>{{ space.name }}</h1>
    
    {% include "shoplist/partials/space_users.html" %}


    <div>
        <ul>
            {% for sl in shoppinglists %}
                <li>
                    {{ sl.name }}
                    <div id="items-{{ sl.id }}"></div>
                    <button hx-get="{% url 'shoplist:item_list' sl.id %}" 
                            hx-target="#items-{{ sl.id }}" 
                            hx-swap="innerHTML">
                        Показать товары
                    </button>
                </li>
            {% empty %}
                <li>Списков пока нет.</li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}