{% extends "shoplist/base.html" %}

{% block content %}

<div class="space-header">
    <button onclick="window.location.href='{% url 'home' %}'">
        ← Другое пространство
    </button>
    <div>
        {% include "shoplist/partials/delete_space_button.html" with in_list=False %}
    </div>
</div>

<div class="space-page">
    <h1>{{ space.name }}</h1>
    
    {% include "shoplist/partials/space_users.html" %}

    {% include "shoplist/partials/shoppinglists_container.html" %}

</div>


{% endblock %}