{% extends "shoplist/base.html" %}

{% block content %}

<div class="sl-space-header">
    <button class="sl-button" onclick="window.location.href='{% url 'home' %}'">
        ← Другое пространство
    </button>
    <div>
        {% include "shoplist/partials/delete_space_button.html" with in_list=False %}
    </div>
</div>

<div class="sl-space-main">
    <div class="sl-h1">
        {{ space.name }}
    </div>
    {% include "shoplist/partials/space_users.html" %}
    {% include "shoplist/partials/shoppinglists_container.html" %}
</div>


{% endblock %}