<form class="sl-form" 
    hx-post="{% url 'shoplist:add_user_to_space' space.id %}"
    hx-target="#space-users-block-{{ space.id }}"
    hx-swap="outerHTML"
    onclick="event.stopPropagation();"
>
    <input class="sl-input"
        type="email"
        name="email"
        placeholder="Email пользователя"
        required
    >
    <button class="sl-button"
        type="submit">
            Добавить
    </button>

    <button class="sl-button"
        hx-get="{% url 'shoplist:add_user_cancel' space.id %}"
        hx-target=".add-user-block-{{ space.id }}"
        hx-swap="innerHTML">
            Отмена
    </button>
</form>
