<div class="sl-users" id="space-users-block-{{ space.id }}">
    <div class="sl-h3">
        Пользователи:
    </div>
    <div class="sl-users-list">
        {% for user in space.users.all %}
            <div class="sl-user-badge">
                {{ user.nick_name }}
                <button 
                    class="sl-button-delete"
                    hx-delete="{% url 'shoplist:remove_user_from_space' space.id user.id %}"
                    hx-target="#space-users-block-{{ space.id }}"
                    hx-swap="outerHTML"
                    onclick="event.stopPropagation();">
                    x
                </button>
            </div>
        {% empty %}
            Нет пользователей
        {% endfor %}
    </div>
    {% include 'shoplist/partials/users/add_user_block.html' %}
    {% if error %}
        <div class=".sl-popup-message .sl-popup-error">{{ error }}</div>
    {% endif %}
    {% if success %}
        <div class=".sl-popup-message .sl-popup-success">{{ success }}</div>
    {% endif %}
</div>